body
{
    margin: 0;
    background: #bea8d6;
    height: 100%;
}

#main
{
    width: 800px;
    height: 500px;
    position: absolute;
    max-width: 100%;
    display: flex;
    overflow: hidden;
    border: 3px solid #FFFFFF;
    top:50%;/* to center */
    left:50%;/* to center */
    margin-left:-400px;/* half width*/
    margin-top:-250px;/* half height*/
    background: #AADCF7;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.55);
    cursor: url(./cursors/pink.cur), auto;
}

#elements
{
    display: inline-block;
    border: 2px solid #FFFFFF;
    width: 300px;
    left: 2%;
    top: 50%;/* to center */
    left: 50%;/* to center */
    margin-left: -360px;/* half width*/
    margin-top: -240px;/* half height*/
    position: absolute;
    overflow: hidden;
    background: #77C8F3;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.55);
}

#elements h2
{
    font-family: 'Cocogoose', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    display: table;
    margin: 5px auto;
    background: #BE8DE5;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.55);
}

#aboutme
{
    width: 400px;
    left: 2%;
    display: inline-block;
    border: 2px solid #FFFFFF;
    background: #77C8F3;
    position: absolute;
    overflow: hidden;
    top: 50%;/* to center */
    left: 50%;/* to center */
    margin-left: -30px;/* half width*/
    margin-top: -240px;/* half height*/
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.55);
}

#aboutme h1
{
    font-family: 'Cocogoose', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    display: table;
    margin: 5px auto;
    background: #BE8DE5;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.55);
}

#imageBox
{
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#imageBox img
{
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#cornerImg
{
    height: auto;
    width: auto;
    overflow: hidden;
}

#cornerImg img
{
    height: 50%;
    width: 50%;
    max-width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#cornerImg2
{
    height: auto;
    width: auto;
    overflow: hidden;
}

#cornerImg2 img
{
    height: 68%;
    width: 57%;
    max-width: 100%;
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.fa-heart
{
    color: #BE8DE5;
}

#footer
{
    
}

a
{
    font-family: 'Open Sans', monospace;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 35px;
}

p
{
    font-family: 'Open Sans', monospace;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px;
    padding: 5px;
}