body 
{
    background: no-repeat center center fixed url('../img/background/tokyo.gif'); 
    z-index: -5; 
    background-size: cover; 
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
    image-rendering: optimizeSpeed; 
}

span
{
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

a
{
    color: #FFFFFF;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
}

code
{
  color: #FFFFFF;
  font-size: large;
  font-weight: bold;
}

.main
{
  margin: auto;
  padding-left: 100px;
  padding-top: 100px;
}

.links
{
  background-color: rgb(49, 49, 49);
  color: #FFFFFF;
  border: solid 1px #FFFFFF;
  font-family: monospace;
  max-width: fit-content;
  height: auto;
}

img 
{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #FFFFFF;
}