body
{
    margin: 0;
    background: #131313;
    height: 100%;
}

#main
{
    width: 50vw;
    height: 70vh;
    position: absolute;
    max-width: 100%;
    display: flex;
    overflow: hidden;
    border: 3px solid #FFFFFF;
    top:50%;/* to center */
    left:50%;/* to center */
    margin-left:-25vw;/* half width*/
    margin-top:-35vh;/* half height*/
    background: #1C1C1C;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.55);
    cursor: url(./cursors/pink.cur), auto;
}

#elements
{
    display: inline-block;
    border: 2px solid #FFFFFF;
    width: 16vw;
    height: auto;
    left: 2%;
    top: 50%;/* to center */
    left: 50%;/* to center */
    margin-left: -22vw;/* half width*/
    margin-top: -33vh;/* half height*/
    position: absolute;
    overflow: hidden;
    background: #363636;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.55);
}

#elements h2
{
    font-family: 'Cocogoose', sans-serif;
    font-size: 1.15em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    display: table;
    margin: 5px auto;
    background: #BE8DE5;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.55);
}

#aboutme
{
    width: 20vw;
    height: auto;
    left: 2%;
    display: inline-block;
    border: 2px solid #FFFFFF;
    background: #363636;
    position: absolute;
    overflow: hidden;
    top: 50%;/* to center */
    left: 50%;/* to center */
    margin-left: 2vw;/* half width*/
    margin-top: -33vh;/* half height*/
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.55);
}

#aboutme h1
{
    font-family: 'Cocogoose', sans-serif;
    font-size: 1.15em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    display: table;
    margin: 5px auto;
    background: #BE8DE5;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.55);
}

#cornerImg
{
    height: auto;
    width: auto;
    overflow: hidden;
}

#cornerImg img
{
    height: 65%;
    width: 70%;
    max-width: 70%;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
}

.fa-heart
{
    color: #BE8DE5;
}

a
{
    font-family: 'Open Sans', monospace;
    font-size: 1.15em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 35px;
}

p
{
    font-family: 'Open Sans', monospace;
    font-size: 1.15em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px;
    padding: 5px;
}