@font-face {
    font-family: "verdana";
}

body {
    background-color: black;
    font-family: "verdana";
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: url(./cursors/redcursor.png), auto;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 450px;
}

video
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
    font-size: 11px;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

a {
	font-size: 11px;
    color: #fff;
    text-decoration: none;
}

#info
{
	text-align: center;
}

.footer
{
	padding-top: 20px;
	font-size: 5px;
}

h1 {
	font-size: 10px;
    margin: 0px;
    padding: 0px;
	color: #fff;
    text-decoration: none;
}

h1:hover{
	 text-decoration: none;
}
.sections:hover {
    cursor: pointer;
}